body{
    background-color: yellowgreen;
}
.list{
    margin-top: 50px;
    text-align: center;
}
.list-item{
    width: 100px;
    padding:5px 10px;
    margin-right: 20px;
    background-color: aqua;
}
.active{
    border-color: black;
}
.wraper{
    margin-top: 50px;
}
.image{
    width:200px;
    height:200px;
    margin-right: 20px;
}
